Exercise 1: Given a string of odd length greater than 7, return a new string made of the middle three characters of a given String

In [9]:
def getmiddlethreestr(str3):
    middle=(int(len(str3)/2))
    return str3[middle-1:middle+2]


str1 = "JhonDipPeta"
str2 = "JaSonAy"

getmiddlethreestr(str2)

'Son'

Exercise 2: Given two strings, s1 and s2, create a new string by appending s2 in the middle of s1
Given:

s1 = "Ault"
s2 = "Kelly"

In [19]:
s1 = "Ault"
s2 = "Kelly"

print(s1[(int(len(s1)/2)):])
s3 = s1[0:((int(len(s1)/2)))] + s2 + s1[(int(len(s1)/2)):]
print(s3)

lt
AuKellylt

Exercise Question 3: Given two strings, s1, and s2 return a new string made of the first, middle, and last characters each input string

In [21]:
def new_str(s1,s2):
    f_s1 = s1[0]
    l_s1 = s1[-1]
    m_s1 = s1[int(len(s1)/2)]
    
    f_s2 = s2[0]
    l_s2 = s2[-1]
    m_s2 = s2[int(len(s2)/2)]
    
    return f_s1+f_s2+m_s1+m_s2+l_s1+l_s2


s1 = "America"
s2 = "Japan"
new_str(s1,s2)

'AJrpan'

Exercise 4: Arrange string characters such that lowercase letters should come first
Given an input string with the combination of the lower and upper case arrange characters in such a way that all lowercase letters should come first.

In [5]:
str1 = 'PyNaTive'
lst1=[]
lst2=[]

for i in str1:
    if i.islower():
        lst1.append(i)
    else:
        lst2.append(i)
''.join(lst1+lst2)
print(str2)

yaivePNT

Exercise 6: Given two strings, s1 and s2, create a mixed String using the following rules
Note: create a third-string made of the first char of s1 then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.

Given:

s1 = "Abc"
s2 = "Xyz"
Expected Output:

AzbycX

In [8]:
s1 = "Abc" 
s2 = "Xyz"

lst1=[]
for i in range(len(s1)):
    lst1.append(s1[i])
    lst1.append(s2[len(s2)-i-1])

s3 = ''.join(lst1)
print(s3)

AzbycX

Exercise 7: String characters balance Test
We’ll assume that a String s1 and s2 is balanced if all the chars in the s1 are there in s2. characters’ position doesn’t matter.

Given:
s1 = "Yn"
s2 = "PYnative"

In [10]:
s1 = "Ynf"
s2 = "PYnative"

if s1 in  s2:
    print("balanced")
else:
    print("not balanced")

not balanced

Exercise 8: Find all occurrences of “USA” in a given string ignoring the case
Given:

str1 = "Welcome to USA. usa awesome, isn't it?"

In [13]:
str1 = "Welcome to USA. usa awesome, isn't it?"
count = str1.lower().count('usa')
print(count)

2

Exercise 9: Given a string, return the sum and average of the digits that appear in the string, ignoring all other characters

In [18]:
str1 = "English = 78 Science = 83 Math = 68 History = 65"
lst1 = str1.split(' ')
sum = 0
count=0

for i in lst1:
    if i.isnumeric():
        sum += int(i)
        count += 1
print(sum)
print(sum/count)

294
73.5

Exercise 10: Given an input string, count occurrences of all characters within a string
    Given:

str1 = "Apple"

Expected Outcome:

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [21]:
str1 = "Apple"
D = {i:str1.count(i) for i in str1}
print(D)

{'A': 1, 'p': 2, 'l': 1, 'e': 1}

Exercise 11: Reverse a given string
str1 = "PYnative"

In [24]:
str1 = "PYnative"
print(str1[::-1])

evitanYP

Exercise 12: Find the last position of a substring “Emma” in a given string
Given:

str1 = "Emma is a data scientist who knows Python. Emma works at google."

In [27]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."
print(str1.index('Emma'))
print(str1.rfind('Emma'))

0
43

Exercise 13: Split a given string on hyphens into several substrings and display each substring

In [29]:
str1 = "Emma-is-a-data-scientist"
lst=str1.split('-')
for i in lst:
    print(i)

Emma
is
a
data
scientist

Exercise 14: Remove empty strings from a list of strings

In [39]:
str_list = ["Emma", "Jon", "", None, "Kelly", "Eric", ""]
lst = [i for i in str_list if i.isalpha()]
print(lst)

['Emma', 'Jon', 'Kelly', 'Eric']

In [45]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
print("Original list of sting")
print(str_list)

# use built-in function filter to filter empty value
new_str_list = list(filter(None, str_list))

print("After removing empty strings")
print(new_str_list)

Original list of sting
['Emma', 'Jon', '', 'Kelly', None, 'Eric', '']
After removing empty strings
['Emma', 'Jon', 'Kelly', 'Eric']

In [71]:
import string

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

# use translate function of a string
# and maketrans function of str class
new_str = str1.translate(str.maketrans('', '', string.punctuation))

print("New string is ", new_str)

Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

Exercise 16: Removal all the characters other than integers from a string
Given:

str1 = 'I am 25 years and 10 months old'

In [48]:
str1 = 'I am 25 years and 10 months old'
lst = str1.split()
num_lst = [i for i in lst if i.isnumeric()]
print(''.join(num_lst))

2510

Exercise 17: Find words with both alphabets and numbers
Given:

str1 = "Emma25 is Data scientist50 and AI Expert"

In [68]:
str1 = 'Emma25 is Data scientist50 and AI Expert'
lst1= str1.split()
print(lst1)
lst2=[]

for i in lst1:
    alpha= False
    num = False
    for j in i:
        if j.isalpha():
            alpha= True
        elif j.isnumeric():
            num= True
    if alpha and num:
        lst2.append(i)

print(lst2)

['Emma25', 'is', 'Data', 'scientist50', 'and', 'AI', 'Expert']
['Emma25', 'scientist50']

In [2]:
str1 = 'Emma25 is Data scientist50 and AI Expert'
for i in str1:
    str1 = str1.replace(i,'*')

print(str1)

****************************************

In [5]:
import string

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

# use translate function of a string
# and maketrans function of str class
for i in str1:
    if i.isalnum() or i ==" ":
        continue
    else:
        str1 = str1.replace(i,"")

print(str1)

Original string is  /*Jon is @developer & musician
Jon is developer  musician

In [8]:
a=2
print(a**3)

8