Print Pattern

In [15]:
for i in range(1,5):
    for j in range(1,i+1):
        print(j, end = ' ')
    print('')

1
1 2
1 2 3
1 2 3 4

Exercise 3: Accept number from user and calculate the sum of all number from 1 to a given number

In [17]:
n = int(input("enter a number"))
sum = 0
for i in range(1,n+1):
    sum += i
print(sum)

enter a number10
55

Exercise 4: Print multiplication table of a given number
For example, num = 2 so the output should be

In [19]:
n = int(input("enter a number"))
lst = [i *n for i in range(1,11)]
for j in lst:
    print(j)

enter a number2
2
4
6
8
10
12
14
16
18
20

Exercise 5: Given a list, iterate it, and display numbers divisible by five, and if you find a number greater than 150, stop the loop iteration.
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

In [22]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
for i in list1:
    if i>150:
        break
    elif i%5==0:
        print(i)

15
55
75
150

Exercise 6: Given a number count the total number of digits in a number
For example, the number is 75869, so the output should be 5.

In [23]:
n = input("enter a number")
print(len(n))

enter a number75869
5

Exercise 7: Print the following pattern using for loop
5 4 3 2 1 
4 3 2 1 
3 2 1 
2 1 
1

In [32]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j, end=' ')
    print("\n")

5 4 3 2 1

4 3 2 1

3 2 1

2 1

1

Exercise 8: Reverse the following list using for loop
list1 = [10, 20, 30, 40, 50]

In [39]:
list1 = [10, 20, 30, 40, 50]

for i in range(len(list1)-1,0,-1):
    print(list1[i])

50
40
30
20

Exercise 11: Write a program to display all prime numbers within a range

In [44]:
start = 25
end = 50

for i in range(start,end+1):
    for j in range(2,i):
        flag = False
        if i%j==0:
            flag = True
            break
        else:
            flag = False
    if flag == False:
        print(i)

29
31
37
41
43
47

Exercise 12: Display Fibonacci series up to 10 terms
Expected output:

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [50]:
sum = 0
num1 =0
num2 = 1
for i in range(11):
    print(num1, end=' ')    
    sum = num1 +num2
    num1 = num2
    num2 = sum

0 1 1 2 3 5 8 13 21 34 55

Exercise 13: Write a loop to find the factorial of any number

In [2]:
n = int(input("enter a number"))
fct = 1
for i in range(n,1,-1):
    fct = fct*i
print(fct)

enter a number5
120

Exercise 17: Find the sum of the series 2 +22 + 222 + 2222 + .. n terms
Given:

number_of_terms = 5

In [5]:
n = int(input("enter number of terms"))
sum = 0
for i in range(1,n+1):
    sum = sum + int(str(2)*i)
print(sum)

enter number of terms5
24690

In [6]:
number_of_terms = 5
start = 2
sum = 0
for i in range(0, number_of_terms):
    print(start, end=" ")
    sum += start
    start = (start * 10) + 2
print("\nSum of above series is:", sum)

2 22 222 2222 22222
Sum of above series is: 24690

Exercise 18: Print the following pattern
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

In [14]:
rows = 7
for i in range(1,rows+1):
    print('* ' * i)
for j in range(rows-1,0,-1):
    print('* ' * j)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*